{% extends "base.html" %}

{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>

  <div>
    <h1>Welcome, <strong>{{me.name}}</strong></h1>
    <input type="hidden" id="username" value="{{me.username}}" />
    <p class="tagline">
      This is a app showing common likes between you and your friends.
    </p>
    <div id="share-app">
      <p>Share this app:</p>
      <ul>
        <li>
          <a href="#" class="facebook-button" id="postToWall" data-url="{{ url }}">
            <span class="plus">Post to Wall</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="{{ url }}">
            <span class="speech-bubble">Send Message</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
            <span class="apprequests">Send Requests</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}
<section class="clearfix" id="samples">
      <h1>Likes in Common</h1>
      <ul style="background:none;height:240px">
        <li style="width:175px;float: left;margin-right:80px;height:150px">
          <h3>Status</h3>
          <br />
          <div style="text-align:center"><span id="hint" style="font-size:20px">Starting...</span></div>
        </li>
        <li style="width:175px;float:left;margin-right:80px;height:270px">
          <h3>Top 5 Friends</h3>
          <div class="list">
          <ul class="friends" id="top_friends" style="height:auto"></ul>
          </div>
        </li>
        <li style="width:175px;float: left;height:400px">
          <h3>Top 10 Likes</h3>
          <div id="top_likes">
          </div>
        </li>
      </ul>
</section>
<section class="clearfix" id="guides" style="max-height:300px;overflow-y:scroll">
</section>

{% raw %}
<script id="tpl" type="text/x-handlebars-template">
<div style="display:none;margin-bottom:10px" class="clearfix" id="friend_{{friend.id}}">
  <img style="width:50px;height:50px;float:left;margin: 0px 10px 10px 0px" src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}">
  <a href="#" onclick="window.open('http://www.facebook.com/{{friend.id}}')">
    {{friend.name}}
  </a> Likes in Common: {{ common_likes_count }} 
  <div style="margin-top:10px" class="common_like_list">
    {{#common_likes}}<a href="http://www.facebook.com/{{id}}" target="_blank" title="{{name}}" style="font-size:11px">{{name}}</a><span>, </span>{{/common_likes}}
  </div>
</div>
</script>

<script id="top_friend_tpl" type="text/x-handlebars-template">
<li style="display:none;" id="{{friend.id}}">
  <a href="https://www.facebook.com/{{username}}/favorites?and={{friend.id}}" target="_blank" title="{{friend.name}}, {{common_likes_count}} likes in common">
  <img src="https://graph.facebook.com/{{friend.id}}/picture?type=square">
  {{friend.name}}
  </a>
</li>
</script>

<script id="top_like_tpl" type="text/x-handlebars-template">
<div style="display:none;" id="{{like.id}}" class="single_line">
  <a style="padding-left:0px;line-height:21px" href="https://www.facebook.com/{{like.id}}" target="_blank" title="{{friends_count}} friends likes it">
  {{like.name}}
  </a>
</div>
</script>
{% endraw %}
{% endblock%}
