{% extends "base.html" %}

{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>

  <div>
    <h1>Welcome, <strong>{{me.name}}</strong></h1>
    <p class="tagline">
      This is a app showing common likes between you and your friends.
    </p>
    <div id="share-app">
      <p>Share this app:</p>
      <ul>
        <li>
          <a href="#" class="facebook-button" id="postToWall" data-url="{{ url }}">
            <span class="plus">Post to Wall</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="{{ url }}">
            <span class="speech-bubble">Send Message</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
            <span class="apprequests">Send Requests</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}
<section class="clearfix" id="samples">
      <h1>Your friends with common likes</h1>
      <div style="text-align:center"><span id="hint">Starting...</span></div>
</section>
<section class="clearfix" id="guides" style="max-height:300px;overflow:scroll">
</section>

{% raw %}
<script id="tpl" type="text/x-handlebars-template">
<div style="display:none;margin-bottom:10px" class="clearfix" id="friend_{{friend.id}}">
  <img style="width:50px;height:50px;float:left;margin: 0px 10px 10px 0px" src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}">
  <a href="#" onclick="window.open('http://www.facebook.com/{{friend.id}}')">
    {{friend.name}}
  </a> Likes in Common: {{ common_likes_count }} 
  <div style="margin-top:10px" class="common_like_list">
    {{#common_likes}}<a href="http://www.facebook.com/{{id}}" target="_blank" title="{{name}}" style="font-size:11px">{{name}}</a><span>, </span>{{/common_likes}}
  </div>
</div>
</script>
</div>
</script>
{% endraw %}
{% endblock%}
